.card{
    height: 150px;
    width: 200px;
    margin: 30px;   
    border: 1px solid rgba(0, 0, 0, 0.412);
    border-radius: 10px;
    background: white;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1.5em 2.5em -0.5em rgb(0 0 0 / 10%);

    .cardInside{
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        .overflow{
            height: 110px;
            width: 100%;
            background: rgb(0, 0, 0);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;

            img{
                height: 110px;
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transition: all 0.3s ease-in-out;
                object-fit:cover;
            }
            img:hover{
                opacity: 0.8;
                transform: scale(1.2);
            }
        }
        .property{
            h3{
                margin: 0px;
                padding: 0px 3px;
                color: rgb(0, 49, 49);
            }
        }
    }
}

.card:hover{
    transform: scale(1.1);
}